.optionRow {
    height: 20px !important;
}

.option_profileCard {
    height: 280px;
    margin-top: 200px;
}

.sv_upload {
    margin-top: 30px !important;
    width: 250px !important;
}

@media (max-width: 575.98px) {
    .textHeader {
        font-size: 1.8rem !important;
    }

    .option_profileCard {
        height: 250px;        
    }

    .optionRow {
        height: 10px !important;
    }

 }



