@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@0;1&display=swap');

.img-thumbnail {
    width: 200% !important;
}

.img-thumbnail:hover {
    border: 20px #b6c7d834 unset !important;
    zoom: 1%;
}

.saveImageBtn {
    width: 150px !important;
}

.inputField {
    max-width: 612px !important;
    margin: 0 auto !important;
}

.imgCard {
    height: 911px !important;
  }
  

.galleryBody {
    padding: 3% 5px;
    font: 3rem Acme !important;
    font-style: italic !important;
    text-shadow: black 2px 2px 8px; 
}

@media (max-width: 769.98px) {
    .galleryBody {
        font: 2.4rem Acme !important;    
        font-style: italic !important;
        padding: 0 2% !important;
    }
  }

@media (max-width: 500.98px) {
    .galleryBody {
        font: 2.1rem Acme !important;
        font-style: italic !important;
        padding: 0 2% !important;
    }

    .holder {
        width: 100% !important;
      }
}
