.card-header {
    height: 320px !important;
}

.sharecont {
    height: 250px !important;
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid #94929286 !important;
    font-size: 40px !important;
    margin-top: 40px !important;
    color:darkgoldenrod !important;
}

.comment {
    width: 100% !important;
    color: rgba(54, 51, 52, 0.486) !important;
    height: 65px !important;
    border: 1px solid #94929286 !important;
}

.cb {
    padding: 0 !important}