.submitButton {
    background-color: #b9cebe !important;
    width: 20rem !important;
    border-color: #93a397 !important;
}

.submitButton:hover {
    background-color: #a8bbac !important;
    border-color: #155724 !important;
}

.nav-link {
    color: #155724 !important;
    font-size: 1.2rem !important;
}

.nav-link:hover {
    color: #e2f1e5 !important;
}