.nav-tabs .nav-link:active,
.nav-tabs .nav-link:hover {
  color: green !important;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):hover{
  background-color: green !important;
}

.btn-primary{
  background-color: green !important;
  border-color: #015f01 !important;
  width: 94px !important;
}

.btn-primary:hover{
  background-color: rgb(2, 102, 2) !important;
}

.navBar {
  background-color: #efeeee !important;
  justify-content: start !important;
}

.navBarCp {
  background-color: #efeeee !important;
  justify-content: start !important;

}

.navbar-light .navbar-toggler {
  background-color: #dcd8d8 !important;
}

.logoutBtnn{
  float: right !important;
  width: 80px !important;
}