@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@0;1&display=swap');

.card-header {
    height: 320px !important;
}

.holder {
    background-color: #eae8e8 !important;
}

.sharecont {
    height: 250px !important;
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid #94929286 !important;
    font-size: 40px !important;
    margin-top: 40px !important;
    color:darkgoldenrod !important;
}

.cb {
    padding: 0 !important}

.cardStyle{
    padding: 15% 0 !important;
    font: 1.8rem Acme;
    font-style: italic !important;
    text-shadow: rgb(10, 22, 75) 0px 0px 12px;
    width: 550px !important;
    height: 50px !important;
    text-align: justify !important;
    text-transform: capitalize !important;

}

.cardTextC{
    margin: 0 !important;
}

.shareButton{
    width: 100px !important;
    height: 35px !important;
}

.overlay{
    height: 50px !important;
}

.footer,
.card {
    border: 0 !important;
}

.footer {
    background-color: #f1f2f3 !important;
    border-radius: 5px !important;
}

@media (max-width: 575.98px) { 
    .imgCard {
        height: 311px !important;
    }
 }


@media (max-width: 775.98px) {
    .cardStyle{
        font: 1.5rem Acme;
    }
 }