@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@0;1&display=swap");

.navBarCp {
    background-color: #efeeee !important;
    justify-content: start !important;
    border-bottom-style: double !important;
    border-color: green !important;
    border-width: 1px !
  }

.imgCard {
  height: 911px !important;
}

.card-header {
  height: 320px !important;
}

.holder {
  background-color: #eae8e8 !important;
  width: 615px !important;
  margin: 0 auto !important;
}

.sharecont {
  height: 250px !important;
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid #94929286 !important;
  font-size: 40px !important;
  margin-top: 40px !important;
  color: darkgoldenrod !important;
}

.shareContainer {
  background-color: #efeeee !important;
}

.cb {
  padding: 0 !important;
}

.cardStyle {
  padding: 20% 0 !important;
  font: 3rem Acme;
  font-style: italic !important;
  text-shadow: rgb(10, 22, 75) 0px 0px 12px;
  width: 550px !important;
  height: 50px !important;
  text-align: center !important;
  text-transform: capitalize !important;
}

.cardTextC {
  margin: 0 !important;
}

.shareButton {
  width: 100px !important;
  height: 35px !important;
}

.overlay {
  height: 50px !important;
}

.footer,
.card {
  border: 0 !important;
}

.footer {
  background-color: #f1f2f3 !important;
  border-radius: 5px !important;
}

@media (max-width: 765.98px) {

    .imgCard {
        height: auto !important;
      }

    .holder {
        width: 100% !important;
      }

    .cardStyle {
      font-size: 1.8em !important;
      padding: 20% 0 !important;
    }

  }

@media (max-width: 500.98px) {
  .imgCard {
    height: auto !important;
  }
  .holder {
    width: 100% !important;
  }

  .cardStyle {
    font-size: 1.8em !important;
    padding: 5% 0 !important;
  }

  .shareContainer {
    background-color: white !important;
  }

  .navBarCp {
    background-color: #efeeee !important;
    justify-content: start !important;
    border: none !important;
  }

  .titleStyle{
      font-size: 1.7rem !important;
  }
}

/*  

GALLERYDETAIL.JSX
------------------------------------------------------------------------------------------------------------
added justify-content-center to className in GalleryDetail.jsx -> 
    <Form.Label className="d-flex justify-content-center">
added .holder className to GalleryDetail.jsx under </Form.Group> -> 
    <div className="holder shadow p-3 mb-5 bg-white rounded">


 GALLERY.JS 
 -----------------------------------------------------------------------------------------------------------
 added .titleStyle className to Gallery.js -> <h1 className="titleStyle text-center">
 added .holder className to Gallery.js ->  <Container className="holder mt-5 ml-auto mr-auto">

 added more styles to .galleryBody in gallery.css ->
            .galleryBody {
 changed  - padding: 3% 5px;
 changed  - font: 3rem Acme !important;
 added    - font-style: italic !important;
          - text-shadow: black 2px 2px 8px; 
            }


 added new class .inputField to gallery.css ->
.inputField {
    max-width: 612px !important;
    margin: 0 auto !important;
}

 added .imgCard to gallery.css ->
 .imgCard {
 height: 911px !important;
}

added new media queries to gallery.css ->
***this query needs to be ABOVE below query *****

@media (max-width: 769.98px) {
    .galleryBody {
        font: 2.4rem Acme !important;    
        font-style: italic !important;
        padding: 0 2% !important;
    }
  }

@media (max-width: 500.98px) {
    .galleryBody {
        font: 2.1rem Acme !important;
        font-style: italic !important;
        padding: 0 2% !important;
    }

    .holder {
        width: 100% !important;
      }
}

NAVCP.JS
----------------------------------------------------------------------------------------------------------------
added navBarCp className to navcp.js -> <Navbar className="navBarCp d-flex justify-content-end" expand="lg">

NAV.CSS
----------------------------------------------------------------------------------------------------------------
added new class .navBarCp to nav.css ->
.navBarCp {
  background-color: #efeeee !important;
  justify-content: start !important;
}

SHAREWALLCOMP.JS
--------------------------------------------------------------------------------------------------------------
added className to ShareWallComp.js under </h1> -> <div className="holder p-3 mb-5 rounded">
added ShareContainer className in ShareWallComp.js -> <Container className="shareContainer mt-5 ml-auto mr-auto">
added new mt-2 style in h1 title of shareWallComp.js -> <h1 className="text-center mt-2">


SHAREWALL.CSS
--------------------------------------------------------------------------------------------------------------
changed height in .imgCard in sharewall.css 
.imgCard {
  height: 911px !important;
}

added new class: .titleStyle css to sharewall.css -> 
    .titleStyle {
    font-size: 1.7rem !important;
}

added new class .holder to sharewall.css ->
.holder {
  background-color: #eae8e8 !important;
  width: 615px !important;
  margin: 0 auto !important;
}

added new class .navBarCp in sharewall.css ->
 .navBarCp {
  background-color: #efeeee !important;
  justify-content: start !important;
  border-bottom-style: double !important;
  border-color: green !important;
  border-width: 1px ! important;
}

added new .shareContainer class in sharewall.css ->
  .shareContainer {
  background-color: #efeeee !important;
}

changed .cardStyle in sharewall.css ->
            .cardStyle {
 changed -  padding: 20% 0 !important;
 changed -  font: 3rem Acme;
 added   -  font-style: italic !important;
         -  width: 550px !important;
         -  height: 50px !important;
         -  text-shadow: rgb(10, 22, 75) 0px 0px 12px;
         -  test-align: center !important;
         -  text-transform: capitalize !important;
}

SHAREWALL.CSS CONTINUED
------------------------------------------------------------------------------------------------------------
deleted max-width 775.98px @media query and added the below to sharewall.css ->
***this query needs to be ABOVE below query *****

@media (max-width: 769.98px) {
     .imgCard {
     height: auto !important;
      }
    .holder {
        width: 100% !important;
      }
    .cardStyle {
      font-size: 1.8em !important;
      padding: 20% 0 !important;
    }
  }

added new @media query style to sharewall.css ->
  
   @media (max-width: 500.98px) {
  .imgCard {
    height: auto !important;
  }
  .holder {
    width: 100% !important;
  }
  .cardStyle {
    font-size: 1.8em !important;
    padding: 5% 0 !important;
  }
  .shareContainer {
    background-color: white !important;
  }
  .navBarCp {
    background-color: #efeeee !important;
    justify-content: start !important;
    border: none !important;
  }
  .titleStyle{
      font-size: 1.7rem !important;
  }
}




*/
