.statusBar {
    width: 90% !important;
}

.uploadBtn{
    background-color: #848282 !important;
    border-radius: 5px;
    color: white;
    width: 250px !important;
    padding: 4px 0 4px 4px !important
}

.uploadBtn:hover{
    background-color: rgb(2, 102, 2) !important;
}

#input#file-upload-button {
    background-color: none !important;
    width: 300px !important;
}

