.inputField {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 45px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none !important;
}

.comment {
    width: 100% !important;
    color: rgba(54, 51, 52, 0.486) !important;
    height: 65px !important;
    border: 1px solid #e4e5e6a1 !important;
    outline: none !important;
    border-color: !important;
}

.bioInput {
    height: 120px !important;
    width: 100% !important;
    outline: none !important;
  }