/* Overide Styles for Login Compoent */

/* .container {
    background-color: rgb(223, 209, 212) !important;
} */

.nav-link {
    font-size: smaller !important;
    margin-left: -15px !important;
}

.nav-link:hover {
    color: #28a745 !important;
}
a.text-muted.nav-link {
    margin-bottom: -6px !important;
}