/* Overide Styles for Login Compoent */

/* .container {
    background-color: rgb(223, 209, 212) !important;
} */

.navLogin {
    font-size: smaller !important;
    margin-left: -15px !important;
}

.navLogin:hover {
    color: #28a745 !important;
}
a.navLogin {
    margin-bottom: -6px !important;
}