.btn-primary {
    width: 137px !important;
}

.skip {
    font-size: 13.3333px !important;
    color: #6c757d!important;
}

.profilepic {
    width: 100% !important;
    height: 18rem !important;
    background-color: #efefef !important;
}