#bioinput {
  height: calc(6.5em + 0.75rem + 2px) !important;
}

.skipBio {
  font-size: smaller !important;
  padding: 0 !important;
}

.skipBio:hover {
  color:#008000 !important;
}

.proContainer {
   height: 480px !important;
}

.bioInput {
  height: 150px !important;
}